html, body {
    background-color: #ffe2bd;
    font-family: 'Montserrat';
    font-size: 18px;
    color: #312115;
    word-wrap: normal;
    margin: 0 !important;
    padding: 0 !important;
}

main {
    min-height: 80vh;
}

#about_us h1 {
    margin-top: 0 !important;
}

h1,
h2,
h3 {
    margin-left: 15px;
    margin-right: 15px;
}

a {
    text-decoration: none !important;
    color: #312115;
}

a:hover {
    opacity: 0.7;
    text-decoration: none;
}

.current-link {
    text-decoration: underline !important;
}

[class*='container'] {
    margin-left: 15px;
    margin-right: 15px;
}

[class*='row'] {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.margined {
    margin: 15px;
}

.header-fixed {
    top: 0;
    position: fixed !important;
    width: 100%;
}

.logo__image {
    width: 100%;
}

.header__logo>a {
    display: inline-block;
}

.header__logo {
    display: flex;
    justify-content: center;
}

.nav-links {
    list-style: none;
}

.header__navigation-bar .container {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    margin-top: 0;
}

.navigation-bar__nav-links-container {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

.navigation-bar__nav-links-container .nav-links {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
}

.nav-links__nav-item {
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
    align-items: center;
}

.contact-info {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.header__contact-info {
    margin-left: auto;
}

@media (max-width: 1190px)  {
    .header__contact-info {
        display: none;
    }

    .navigation-bar__nav-links-container {
        margin-left: auto;
    }
}

#slogan {
    background-image: url("../data/images/main/main-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 90vh;
    float: left;
    margin: 0 0 30px 0;
}

.slogan-text {
    font-size: 40px;
    font-weight: 700;
}

#slogan span {
    right: 5%;
    bottom: 15%;
    position: absolute;
}

aside {
    text-align: right;
}

article {
    margin: 15px;
}

section {
    padding-top: 30px;
    padding-bottom: 30px;
}

body section:nth-child(even) {
    background-color: #f3b96f;
}

.artists__row {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.artists__row .thumbnail {
    flex-basis: 20%;
}

.thumbnail {
    margin: 15px;
}

.thumbnail .text-part__title {
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
}

.thumbnail__photo {
    display: flex;
    justify-content: center;
    aspect-ratio: 1/1;
}

.artists__row .thumbnail__photo img {
    width: 100%;
}

.reviews__item {
    border: #6e5039 1px solid;
    margin: 15px;
    border-radius: 10px;
    padding: 15px;
}

.footer__container {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 !important;
    padding: 15px;
    color: #ffe2bd !important;
    background-color: #6e5039;
    box-shadow: 0px -5px 10px 3px #6e5039;
}

.footer__container a {
    color: #ffe2bd;
}

.footer__nav-links-container {
    margin-right: auto;
}

.footer__contact-info {
    margin-right: 40px;
}