body {
    background-color: #ffe2bd;
    font-family: 'Montserrat';
    font-size: 18px;
}

p, article {
    word-wrap: normal;
    color: #321E0F;
}

a {
    text-decoration: none;
    color: #321E0F;
}

a:hover {
    color: #4169e1;
    text-decoration: underline;
}

[class*='container'] {
    margin-left: 15px;
    margin-right: 15px;
}

.logo__image {
    height: 100px;
}

.nav-links {
    list-style: none;
}

.header__navigation-bar .container {
    display: flex;
    flex-flow: row;
}

.navigation-bar__nav-links-container .nav-links {
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.nav-links__nav-item {
    margin-left: 15px;
    margin-right: 15px;
}

.header__contact-info {
    margin-left: auto;
}